<h2 mat-dialog-title>Funcionário</h2>
<form [formGroup]="form" (ngSubmit)="submit()" class="dialog-form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="form.controls['name'].hasError('required')">Campo obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" />
    <mat-error *ngIf="form.controls['email'].hasError('required')">Campo obrigatório</mat-error>
    <mat-error *ngIf="form.controls['email'].hasError('email')">Email inválido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>CPF</mat-label>
    <input matInput formControlName="cpf" mask="000.000.000-00" placeholder="000.000.000-00" />
    <mat-error *ngIf="form.controls['cpf'].hasError('required')">Campo obrigatório</mat-error>
    <mat-error *ngIf="form.controls['cpf'].hasError('invalidCPF')">CPF inválido</mat-error>
  </mat-form-field>

  <div class="dialog-actions">
    <button mat-stroked-button type="button" (click)="cancel()">Cancelar</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
  </div>
</form>
